name: Deploy to Production
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install DuckDB
        run: |
          wget https://github.com/duckdb/duckdb/releases/download/v1.1.3/duckdb_cli-linux-amd64.zip
          unzip duckdb_cli-linux-amd64.zip
      
      - name: Deploy to MotherDuck
        env:
          motherduck_token: ${{ secrets.MOTHERDUCK_TOKEN }}
          SOURCE_DB: "dev_shop_cloud"
          TARGET_DB: "prod_shop_cloud"
        run: |
          ./duckdb -c "CREATE OR REPLACE DATABASE ${TARGET_DB} FROM ${SOURCE_DB};"
