name: dbt_CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  linter_and_test:
    runs-on: ubuntu-latest

    env:
      DBT_DUCKDB_PATH: "ci_database.duckdb"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          pip install dbt-duckdb sqlfluff-templater-dbt
          dbt deps

      # 1. We MUST seed before we compile, or dbt won't find the refs in your models
      - name: Initialize Seeds
        run: dbt seed --target dev --profiles-dir .

      - name: Compile dbt
        run: dbt compile --target dev --profiles-dir .

      - name: Run SQLFluff Linter
        run: sqlfluff lint models --dialect duckdb

      # 2. Changed to 'dbt build'. This will run seeds again (safely) and then models/tests.
      - name: Build and Test dbt
        run: dbt build --target dev --profiles-dir .