name: dbt_CI

# This tells GitHub to run the script on every Pull Request or Push to 'main'
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  linter_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          pip install dbt-duckdb sqlfluff-templater-dbt
          dbt deps

      # This creates the manifest.json file that SQLFluff needs 
      # to understand your dbt project structure.
      - name: Compile dbt
        run: dbt compile --target dev --profiles-dir .

      # This runs the linter. If this fails, the whole CI fails.
      - name: Run SQLFluff Linter
        run: sqlfluff lint models --dialect duckdb

      # This runs your models and your data tests.
      # If a test (like unique or not_null) fails, the CI fails.
      - name: Build and Test dbt
        run: dbt build --target dev --profiles-dir .